<%= stylesheet_link_tag 'homepage' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ' %>
<input type="text" id="search_address" class="search_address" value=""/>
<div id="map_canvas" class="map_canvas"></div>
<script>
  var currentSession = "<%= @currentSession %>"
</script>