<%= stylesheet_link_tag 'twitter_api' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ' %>
<div id="map_canvas"></div>
<script>
  var currentSession = "<%= @currentSession %>"
</script>